<% include header.ejs %>
<div class="col-md-6 col-md-offset-3">
    <form class="form-horizontal" action="/product/save" method="post" enctype="multipart/form-data">
        <fieldset>

            <legend>Add Product</legend>

            <!-- Text input http://getbootstrap.com/css/#forms -->
            <div class="form-group">
                <label for="name" class="control-label col-sm-2">Product name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="name" id="name" placeholder="Enter product name" required="">

                </div>
            </div>
            <!-- Text input http://getbootstrap.com/css/#forms -->
            <div class="form-group">
                <label for="price" class="control-label col-sm-2">Product price</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control"  name="price" id="price" placeholder="Enter product price" required="">

                </div>
            </div>
            <!-- Text input http://getbootstrap.com/css/#forms -->
            <div class="form-group">
                <label for="size" class="control-label col-sm-2">Product size</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" name="size" id="size" placeholder="Enter product size" required="">

                </div>
            </div>
            <!-- Textarea http://getbootstrap.com/css/#textarea -->
            <div class="form-group">
                <label class="control-label col-sm-2" for="description">Description</label>
                <div class="col-sm-10">
                    <textarea class="form-control" name="description" id="description" name="description" rows="3" required="" placeholder="Enter product description"></textarea>

                </div>
            </div>

            <!-- File Button http://getbootstrap.com/css/#forms -->
            <div class="form-group">
                <label for="image" class="control-label col-sm-2">Product image</label>
                <div class="col-sm-10">
                    <input type="file" id="image" name="image" required="">
                </div>
            </div>
            <!-- Button http://getbootstrap.com/css/#buttons -->
            <div class="form-group">
                <label class="control-label col-sm-2" for=""></label>
                <div class="text-left col-sm-10">
                    <input type="submit" id="" name="" class="btn btn-primary" aria-label="" value="Save">

                </div>
            </div>


        </fieldset>
    </form>

</div>