<script src="/socket.io/socket.io.js"></script>
<% include header.ejs %>
<div class="container">
    <div class="row profile">
        <% include side-profile.ejs %>
        <div class="col-md-9">
            <div class="profile-content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            <span class="glyphicon glyphicon-comment"></span> <%= user.email%>
                                        </div>
                                        <div class="panel-body">

                                        </div>
                                        <div class="panel-footer">
                                            <div class="input-group">
                                                <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here...">
                                                <span class="input-group-btn">
                            <button class="btn btn-warning btn-sm" id="btn-chat">
                                Send</button>
                        </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function()
    {
        var socket = io();
        $('#btn-chat').click(function (e) {
           e.preventDefault();
           socket.emit('send message',$('#btn-input').val());
        });
        socket.on('new message',function (data) {
            $('.panel-body').append('<ul class="chat">' +
                    '<li class="left clearfix">' +
                    '<span class="chat-img pull-left">' +
                    ' <img src=<% if(userInfo.image) { %> <%= "../../uploads/" + userInfo.image %> <% }else{ %>"//placehold.it/100"<% } %> style="height:30px; width:30px;" alt="">' +
                    '</span> <div class="chat-body clearfix"> <div class="header">' +
                    '<strong class="primary-font"><%=userInfo.email %></strong> <small class="pull-right text-muted">' +
                    '<span class="glyphicon glyphicon-time"></span>14 mins ago</small> </div>'+
                    '<p id="message">'+data+'</p> ' +
                    '</div>' +
                    '</li>' +
                    '</ul>'
            );
        });
    });
</script>
