<% include header.ejs %>
<div class="container">
    <div class="row">

    </div>
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <% if (allProductsInCart){ %>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th class="text-center">Price</th>
                    <th class="text-center">Total</th>
                    <th> </th>
                </tr>
                </thead>
                <tbody>

                <% allProductsInCart.forEach(function(product){ %>
                <tr>
                    <td class="col-sm-8 col-md-6">
                        <div class="media">
                            <a class="thumbnail pull-left" href="#">
                                <img class="media-object" src="<%= product.item.image %>" style="width: 72px; height: 72px;">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="#"><%= product.item.name %></a></h4>
                                <h5 class="media-heading"> by <a href="#">Brand name</a></h5>
                                <span>Status: </span><span class="text-success"><strong>In Stock</strong></span>
                            </div>
                        </div>
                    </td>
                    <td class="col-sm-1 col-md-1 text-center"><strong><%= product.quantity %></strong></td>
                    <td class="col-sm-1 col-md-1 text-center"><strong><%= product.item.price %></strong></td>
                    <td class="col-sm-1 col-md-1 text-center"><strong><%= product.price %></strong></td>
                    <td class="col-sm-1 col-md-1">
                        <a href="/cart/remove/<%= product.item._id %>" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove"></span> Remove
                        </a>
                    </td>
                </tr>
                <% }); %>

                <tr>
                    <td>  </td>
                    <td>  </td>
                    <td>  </td>
                    <td><h5>Subtotal</h5></td>
                    <td class="text-right"><h5><strong>0</strong></h5></td>
                </tr>
                <tr>
                    <td>  </td>
                    <td>  </td>
                    <td>  </td>
                    <td><h5>Estimated shipping</h5></td>
                    <td class="text-right"><h5><strong>0</strong></h5></td>
                </tr>
                <tr>
                    <td>  </td>
                    <td>  </td>
                    <td>  </td>
                    <td><h3>Total</h3></td>
                    <td class="text-right"><h3><strong><%= totalPrice %></strong></h3></td>
                </tr>
                <tr>
                    <td>  </td>
                    <td>  </td>
                    <td>  </td>
                    <td>
                        <a href="/home" class="btn btn-default">
                            <span class="glyphicon glyphicon-shopping-cart"></span> Continue Shopping
                        </a></td>
                    <td>
                        <a type="button" class="btn btn-success">
                            Checkout <span class="glyphicon glyphicon-play"></span>
                        </a></td>
                </tr>
                </tbody>
            </table>
            <% } else { %>
            <h1 style="margin-left: 170px; margin-top: 200px;">there is no products in your Cart</h1>
            <% } %>
        </div>
    </div>
</div>