<% include header.ejs %>
<div class="container">
    <div class="row profile">
        <% include side-profile.ejs %>
        <div class="col-md-9">
            <div class="profile-content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <div id="list1">
                                <ul id="list">
                                    <% user.followings.forEach(function(followingUser){ %>
                                    <li>
                                        <a id="link" href="/user/profile/<%= followingUser.id %>">
                                            <div class="profile-userpic">
                                                <img id="followingPic"
                                                     src=<% if(followingUser.image) { %> <%= "../../uploads/" + followingUser.image %> <% }else{ %>"//placehold.it/100"
                                                        <% } %>
                                                >
                                            </div>
                                            <h3>
                                                <% if(followingUser.fullName) { %>
                                                <%= followingUser.fullName %>
                                                <% }else{ %>
                                                <%= followingUser.email %>
                                                <% } %>
                                            </h3>
                                            <p>
                                                <% if(followingUser.job) { %>
                                                <%= followingUser.job %>
                                                <% }else{ %>
                                                Unknown job
                                                <% } %>
                                            </p>
                                        </a>
                                    </li>
                                    <% }); %>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>

    #list {
        list-style-type: none;
        width: 500px;
        color: #000;
    }

    #list h3 {
        font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
        color: #000;
    }

    #list li img {
        float: left;
        margin: -15px 15px 0 0;
    }

    #list li p {
        font: 200 12px/1.5 Georgia, Times New Roman, serif;
        color: #000;
    }

    #list li {
        padding: 10px;
        overflow: auto;
    }

    #list li:hover {
        background: #eee;
        cursor: pointer;
    }

    #followingPic {
        height: 100px;
        width: 100px;
    }

    #link {
        text-decoration: none;
    }
</style>
