<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" rel="stylesheet">
<script src="../../js/script.js"></script>
<link rel="stylesheet" href="../../css/style.css">
<nav class="navbar navbar-default navbar-inverse" role="navigation">
    <div class="navbar-header">

        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span
                    class="icon-bar"></span><span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/home">Buy-it</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <% if(!auth) { %>
            <li class="active">
                <a href="/login">login</a>
            </li>
            <% } %>
            <li class="active">
                <% if(auth) { %>
                <a href="/product/add">Offer here</a>
                <% } %>

            </li>
        </ul>

            <form class="navbar-form navbar-left" role="search">
                <div type="text" class="form-group">
                    <input type="text" ng-model="searchString" class="form-control"/>
                </div>
                <button type="submit" class="btn btn-default">
                    Search
                </button>
            </form>
        <% if (auth) { %>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <% if(userInfo.fullName) { %>
                    <%= userInfo.fullName %>
                    <% }else{ %>
                    <%= userInfo.email %>
                    <% } %>
                    <strong class="caret"></strong></a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="/user/profile/<%= userInfo.id %>">Profile</a>
                    </li>
                    <li>
                        <a href="/logout">Logout</a>
                    </li>
                </ul>
            </li>
            <li>
                <a class="navbar-brand" href="/cart/shoping-cart"><i class="glyphicon glyphicon-shopping-cart"></i>Cart
                    <span class="badge">
                        <% if(session.cart) { %>
                        <%= session.cart.totalQuantity %>
                        <% }else{ %>
                        0
                        <% } %>
                    </span>
                </a>
            </li>
        </ul>
        <% } %>
    </div>

</nav>