<body ng-app="instantSearch" ng-controller="InstantSearchController">
    <% include header.ejs %>
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                <ul id="myUL">
                    <li ng-show="searchString" ng-repeat="i in items | filter:searchString"><a href="#">{{i.name}}</a></li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <% include products.ejs %>
            </div>
        </div>
        <% include allProducts.ejs %>
    </div>
</body>