<% include header.ejs %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container" ng-app="profile-module" ng-controller="profileController">
    <div class="row profile">
        <% include side-profile.ejs %>
        <div class="col-md-9">
            <div class="profile-content">
                <div class="container-fluid">
                    <div class="row" ng-show="!isEditing">
                        <div class="col-md-4">
                            <h3 class="text-muted">
                                Full Name:
                            </h3>
                            <h3 class="text-muted">
                                Email:
                            </h3>
                            <h3 class="text-muted">
                                Company Name:
                            </h3>
                            <h3 class="text-muted">
                                Job Name:
                            </h3>
                            <h3 class="text-muted">
                                Phone Number:
                            </h3>
                            <h3 class="text-muted">
                                Full Address:
                            </h3>
                        </div>
                        <div class="col-md-4">
                            <h3>
                                {{data.fullName}}
                            </h3>
                            <h3>
                                {{data.email}}
                            </h3>
                            <h3>
                                {{data.company}}
                            </h3>
                            <h3>
                                {{data.job}}
                            </h3>
                            <h3>
                                {{data.phoneNumber}}
                            </h3>
                            <h3>
                                {{data.fullAddress}}
                            </h3>
                        </div>
                        <div class="col-md-4">
                            <% if(userInfo.id == user.id){ %>
                            <button style="margin-left: 200px;" ng-click="enableEditing()"><i class="fa fa-edit"
                                                                                              style="font-size:24px"></i>
                            </button>
                            <% } %>
                        </div>
                    </div>
                    <form class="form-horizontal" ng-show="isEditing" role="form" enctype="multipart/form-data">
                        <h1>Edit Personal info</h1>
                        <hr>
                        <div class="row">
                            <!-- left column -->
                            <div class="col-md-3">
                                <div class="text-center">
                                    <img src=<% if(userInfo.image) { %> <%= "../../../uploads/" + userInfo.image %> <% }else{ %>"//placehold.it/100"
                                            <% } %>
                                         width="150" height="200" class="avatar img-circle" alt="avatar">
                                    <h6>Upload a different photo...</h6>
                                    <input type="file" ng-model="image" class="form-control">

                                </div>
                            </div>
                            <!-- edit form column -->
                            <div class="col-md-9 personal-info">

                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Full name:</label>
                                    <div class="col-lg-8">
                                        <input class="form-control" type="text" ng-model="data.fullName">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Company:</label>
                                    <div class="col-lg-8">
                                        <input class="form-control" type="text" ng-model="data.company">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Your Job:</label>
                                    <div class="col-md-8">
                                        <input class="form-control" type="text" ng-model="data.job">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Your phone number:</label>
                                    <div class="col-md-8">
                                        <input class="form-control" type="text" ng-model="data.phoneNumber">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Your Full Address:</label>
                                    <div class="col-md-8">
                                        <input class="form-control" type="text" ng-model="data.fullAddress">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label"></label>
                                    <div class="col-md-8">
                                        <input type="submit" ng-click="editProfile()" class="btn btn-primary"
                                               value="Save Changes">
                                        <span></span>
                                        <button type="reset" class="btn btn-default" ng-click="enableEditing()">cancel
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
