<div class="row">
        <div class="thumbnail col-md-2" ng-repeat="i in items">
            <img src="../uploads/{{i.image}}"/>
            <div class="caption">
                <h3>
                    {{ i.name }}
                </h3>
                <p>
                    {{ i.description }}
                </p>
                <p>
                    by:<a href="/user/profile/{{ i.user._id  }}">{{ i.user.fullName }}</a>
                </p>
                <p>
                    <a class="btn btn-primary" ng-click="clickFunction(i._id)">Add to cart</a>
                    <a class="btn btn-info" >Details</a>
                </p>
            </div>
        </div>
</div>