<div class="col-md-3">
    <link href="../../css/profile.css" rel="stylesheet" type="text/css">
    <div class="profile-sidebar">
        <!-- SIDEBAR USERPIC -->
        <div class="profile-userpic">
            <img src=<% if(user.image) { %> <%= "../../uploads/" + user.image %> <% }else{ %>"//placehold.it/100"
                    <% } %>
                 style="margin-left:55px; height: 200px; width: 150px;" alt="">
        </div>

        <div class="profile-usertitle">
            <div class="profile-usertitle-name">
                {{data.fullName}}
            </div>
            <div class="profile-usertitle-job">
                {{ data.job}}
            </div>
        </div>

        <div class="profile-userbuttons">
            <a ng-click="unfollowUser()" ng-show="followed" class="btn btn-default btn-sm">Unfollow</a>
            <a ng-click="followUser()" ng-show="!followed" class="btn btn-default btn-sm">Follow</a>
            <a href="/user/messages/<%= user.id %>" class="btn btn-default btn-sm">Message</a>
        </div>

        <div class="profile-usermenu">
            <ul class="nav">
                <li class="active">
                    <a href="/user/profile/<%= user.id %>">
                        <i class="glyphicon glyphicon-home"></i>
                        Overview </a>
                </li>
                <% if(userInfo.id == user.id){ %>
                <li>
                    <a href="#">
                        <i class="glyphicon glyphicon-user"></i>
                        Your Orders </a>
                </li>
                <% } %>
                <li>
                    <a href="/user/offers/<%= user.id %>">
                        <i class="glyphicon glyphicon-ok"></i>
                        User offers </a>
                </li>
                <li>
                    <a href="/user/followers/<%= user.id %>">
                        <i class="glyphicon glyphicon-flag"></i>
                        Followers </a>
                </li>
                <li>
                    <a href="/user/followings/<%= user.id %>">
                        <i class="glyphicon glyphicon-user"></i>
                        Followings </a>
                </li>
                <li>
                    <a href="/user/messages/<%= user.id %>">
                        <i class="glyphicon glyphicon-user"></i>
                        Inbox </a>
                </li>
            </ul>
        </div>

    </div>
</div>