<% include header.ejs %>
<div class="container">
    <div class="row profile">
        <% include side-profile.ejs %>
        <div class="col-md-9">
            <div class="profile-content">
                <div class="container-fluid">
                    <% allProducts.forEach(function(product){ %>
                    <div class="col-md-4 row">
                        <div class="thumbnail">
                            <img src="../../uploads/<%= product.image %>"/>
                            <div class="caption">
                                <h3>
                                    <%= product.name %>
                                </h3>
                                <p>
                                    <%= product.description %>
                                </p>
                                <p>
                                    <% if(product.user.id != userInfo.id){ %>
                                    <a class="btn btn-primary" href="/cart/add/<%= product.id %>">Add to cart</a>
                                    <% } %>
                                    <a class="btn btn-info" href="/product/<%= product.id %>">Details</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <% }); %>
                </div>
            </div>
        </div>
    </div>
</div>
